/*STYLESHEET FOR ./ABOUTPAGE.JSX
*
*1. BASE STYLES
*
*2. MOBILE ELEMENTS
*
*3. SQUIGGLE
*
*4. OUR STORY
*
*5. ANIMATIONS
*
*6. BREAKPOINTS
*/

/* ================================
   1. BASE STYLES
=================================== */
.AboutPage {
  margin-bottom: 1rem;
  background-color: #EFEDEE;
}

.AboutPage h1{
  font-size: 46pt;
}

.AboutPage-content p {
  text-align: start;
  line-height: 32px;
  margin-left: 2%;
  font-size: 16pt;
}

.AboutPage-readmore {
  font-size: 1.25rem;
  font-family: 'new-science-serif', 'sans-serif';
  font-weight: 700;
  text-transform: uppercase;
}

.AboutPage-readmore:hover {
  cursor: pointer;
}

.AboutPage-hide-readmore {
  background-color: #FFD30026;
  width: 2.938rem;
  height: 2.938rem;
  border-radius: 50px;
}

.AboutPage-caretdown {
  margin-top: -5px;
}

.AboutPage-caretup {
  margin-top: 2px;
  margin-left: 4px;
}

/* ================================
   2. MOBILE ELEMENTS
=================================== */
.AboutPage-mobile h1 {
  text-align: center;
}

.AboutPage-mobile svg {
  position: absolute;
  right: 0rem;
  z-index: 1;
}

.AboutPage-mobile-juliane {
  position: relative;
  width: 14.125rem;
  height: 24rem;
  left: 20%;
  z-index: 10;
}

.AboutPage-mobile-jimena {
  display: block;
  position: relative;
  width: auto;
  height: 20.3rem;
  right: -3.125rem;
  z-index: 10;
}

.AboutPage-mobile-wei {
  position: relative;
  width: 14.8rem;
  height: 14.125rem;
  margin-top: 2rem;
  left: 2.5rem;
  z-index: 10;
}

.AboutPage-mobile-content {
  position: relative;
  margin: 2rem 3rem;
  z-index: 10;
}

.AboutPage-mobile-inco-logo {
  display: block;
  position: relative;
  margin: 2rem auto;
  width: 78%;
  height: auto;
  z-index: 10;
}

/* ================================
   3. SQUIGGLE SECTION
=================================== */
.Squiggle-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  background-image: url("../../assets/Hero_Squiggle.png");
  background-repeat: no-repeat;
  padding-bottom: 7rem;
}

.Squiggle-biocard .BioCard-purple {
  inset: 0;
  opacity: 0;
  animation: crossfade 2s ease-in-out forwards;
}

/* ================================
   4. OUR STORY SECTION
=================================== */
.AboutPage-our-story {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.OurStory-p {
  font-size: 20pt;
  margin-right: 5%;
}

.OurStory-wrapper {
  display: flex;
}

/* ================================
   5. ANIMATIONS
=================================== */
@keyframes crossfade {
  0% {
    opacity: 0;
    transform: scale(1.02);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 1;
  }
}

/* ================================
   6. BREAKPOINTS
=================================== */
/* ≥ 600px (Tablet / Small Desktop) */
@media screen and (min-width: 320px) {
  .AboutPage-desktop {
    display: block;
    margin-top: -10rem;
  }

  .AboutPage-mobile {
    display: none;
  }

  .Squiggle-biocard:nth-child(odd) {
    margin-top: -2rem;
    margin-bottom: -3rem;
  }

  .AboutPage-our-story {
    position: relative;
    z-index: 20;
    margin-top: 0%;
    margin-bottom: 15%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 9.313rem;
  }

  .OurStory-p-wrapper,
  .Definition-content {
    margin-left: 2rem;
    margin-right: 3rem;
  }

  .OurStory-wrapper {
    flex-wrap: wrap;
  }

  .OurStory-wrapper img {
    max-width: 40%;
    margin-bottom: 3rem;
  }

  .OurStory-p {
    margin-right: -5%;
  }
}

/* ≥ 800px (Medium Desktop) */
@media screen and (min-width: 800px) {
  .AboutPage-our-story {
    flex-wrap: nowrap;
    margin-top: -10%;
    margin-bottom: 5%;
  }
}

/* ≥ 1400px (Large Desktop) */
@media screen and (min-width: 1400px) {
  .Squiggle-biocard:nth-child(odd) {
    margin-top: 5rem;
  }

  .AboutPage-our-story {
    margin-left: 160px;
    margin-right: 160px;
  }

  .OurStory-wrapper {
    flex-wrap: nowrap;

  }

  .OurStory-wrapper img {
    margin-top: -3rem;
  }

  .OurStory-p {
    margin-right: 2rem;
  }

  .Squiggle-wrapper {
    background-size: 100%;
    margin-left: -10rem;
    margin-right: -10rem;

  }
}