.BioCard-purple, .BioCard-orange, .BioCard-blank {
 border: 19.2px solid #FFFFFF;
  z-index: 10;
  text-align: center;
  background-color: #FFFFFF;
  min-width: 336px;
  min-height: 403.2px;
  max-width: 336px;
  max-height: 403.2px;
  /* padding: 19.2px, 19.2px, 86.4px; */
 box-shadow: 0 14px 8px -8px #0003;
  transition: transform 1s;
  transform-style: preserve-3d;
  text-align: center;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  backface-visibility: hidden;
  
}

.BioCard-link-1, .BioCard-link-2 {
  width: 150px;
  height: 4rem;
  margin: auto;
  top: -5%;
  background: #F1E9A7F3;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  position: fixed;
  z-index: 1;

  &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -2rem;
        height: 100%;
        width: 2rem;
        background: linear-gradient(45deg, #F1E9A7F3 1rem, transparent 0),
            linear-gradient(135deg, #F1E9A7F3 1rem, transparent 0);
        background-size: 2rem 2rem;
    }
  
}

.BioCard-link-1, .BioCard-link-2 {
  &::before {
    content: '';
        position: absolute;
        top: 0;
        left: -2rem;
        height: 100%;
        width: 2rem;
        background: linear-gradient(-45deg, #F1E9A7F3 1rem, transparent 0),
            linear-gradient(-135deg, #F1E9A7F3 1rem, transparent 0);
        background-size: 2rem 2rem;
  }
}

.BioCard-link-1 {
  left: -50px;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  transform: rotate(-25deg); 
}

.BioCard-link-2 {
  left: 65%;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  transform: rotate(25deg); 
}

.BioCard-link-1 a, .BioCard-link-2 a {
  text-decoration: none;
  color: #8B56A0F5;
  font-family: "Nanum Pen Script", cursive;
  font-size: 34px;
  transition: text-decoration 300ms ease, transform 300ms;
  text-decoration: wavy underline transparent;
}

.BioCard-link-1 a:hover, .BioCard-link-2 a:hover {
  text-decoration-color: #8B56A0F5;
}

.BioCard-Btn {
  border: none;
  background-color: transparent;
}

.react-card-front, .react-card-back  {
  max-width: 336px;
}

.BioCard-graphics {
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.BioCard-orange:hover {
  color: black;
}

.BioCard-purple:hover .BioCard-drawing {
  opacity: 1;
  cursor: pointer;
}

.BioCard-purple:hover .BioCard-blank-hover {
  opacity: 1;
  cursor: pointer;
}

.BioCard-purple:hover .BioCard-blank-img {
  opacity: 0;
}

.BioCard-purple:hover .BioCard-arrow-purple {
  cursor: pointer;
  color: white;
}

.BioCard-orange:hover .BioCard-arrow-orange {
  cursor: pointer;
  color: white;
}

.BioCard-purple:hover svg {
  fill: white;
}

.BioCard-headshot {
  position: relative;
  z-index: 0;
  object-fit: cover;
  object-position: 100% 0;
}

.BioCard-drawing {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.BioCard-blank-img {
  position: relative;
  z-index: 0;
  object-fit: cover;
  object-position: 100% 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.BioCard-blank-hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.BioCard-bingo {
  display: block;
}

.BioCard-surprise {
  display: block;
}

.BioCard-name {
    font-family: "Nanum Pen Script", cursive;

  font-size: 30px;
  font-weight: bold;
  line-height: normal;
}

.BioCard-pronouns, .BioCard-role {
   font-family: "Nanum Pen Script", cursive;


}

.BioCard-pronouns {
  font-size: 20px;
  line-height: 10px;
}

.BioCard-role {
  line-height: normal;
  font-size: 25px;
}

.BioCard-Bio {
  background-color: black;
  color: white;
  min-height: 297.6px;
    font-family: "Nanum Pen Script", cursive;
padding: 8px;
  font-size: 22px;
  text-align: start;
  vertical-align: middle;
}

@media screen and (min-width: 600px) {

@media screen and (min-width: 800px) {
  .BioCard-purple, .BioCard-orange, .BioCard-blank {
    width: 20%;
  }
}

@media screen and (min-width: 1000px) {
  .BioCard-bingo {
    display: none;
  }
}
}