.BioList {
  position: relative;
  z-index: 10;
  margin-top: -5rem;
}

.BioList-header {
  width: 100%;
  text-align: center;
  margin-bottom: 1.875rem;
}

.BioList-header p {
  margin-left: auto;
  margin-right: auto;
 
}

.BioList-bios, .AlumsList-bios, .Alums-wrapper {
  display: flex;
}


.BioList-bios, .AlumsList-bios {
  flex-wrap: wrap;
  justify-content: center;
}

.BioList-bios {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  column-gap: 7rem;
  row-gap: 4.5rem;
}

.BioList-bingo {
  display: none;
}

.AlumsList-bios {
  align-items: center;
  flex-direction: column;

}

.Alums-header-wrapper {
margin-bottom: 10rem;
}

.Alums-wrapper {
 margin-left: 1rem;
 margin-right: 3rem;
}

.Alums-wrapper.odd{
  justify-content: end;
}

.Alums-wrapper.even {
  justify-content: start;
}

.Alums-card {
  background-position: center;
  background-size: 56rem;
  background-repeat: no-repeat;
  color: #8B56A0;
  margin-top: -7rem;
  padding: 6rem 27rem;

}

.Alums-card.green{
  background-image: url("../../assets/Green_Cloud.png");
}

.Alums-card.blue{
  background-image: url("../../assets/Blue_Cloud.png");
}

.BioList-alums.left {
  text-align: start;
  margin-left: -12rem;
}

.BioList-alums.right {
  text-align: end;
  margin-right: -8rem;
}

.BioList-alums h2 {
  text-decoration: underline;
  line-height: normal;
  font-size: 25px;
}

.BioList-alums h3 {
  color: black;

}

@media screen and (min-width: 1000px) {
  .BioList-bios {
    margin-left: 5.313rem;
    margin-right: 5.313rem;
  }

  .BioList-bingo {
    display: block;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 0;
  }

  .BioList-header p {
    width: 60%;
  }
}